.comp{
    display: flex;
    flex-direction: row;
    font-family: "Space+Mono";
}

.right{
    display: flex;
    flex-direction: column;
}

.tip{
    display: flex;
    flex-direction: row;
}

.total{
    display: flex;
    flex-direction: row;
}

.tip{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    flex-direction: row;
}

